<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Allan|Bonbon|Butcherman|Condiment|Creepster|Eater|Freckle+Face|Gloria+Hallelujah|Hanalei|Hanalei+Fill|IM+Fell+English+SC|Mrs+Sheppards|Nosifer|Permanent+Marker|Rock+Salt|Satisfy|Slackey|Tulpen+One&display=swap" rel="stylesheet">
    <title>WebFolio!</title>
    <style>
        body{
          /*background: rgb(255,19,120);*/
           /*background: #FF6A06;*/
           background-image: url("https://images.unsplash.com/photo-1561211950-8b1eb6114d6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60");
           background-size: cover; 
           z-index: 0;
           font-family: 'Freckle Face', cursive;
        }
        .card{
          font-family: 'Nosifer', cursive;
          opacity: 0.8;
          filter: alpha(opacity=80); /* For IE8 and earlier */
        }
        .jumbotron{
          font-family: 'Slackey', cursive;
          opacity: 0.8;
        }
        .dot {
          height: 27px;
          width: 27px;
          background-color: red;
          border-radius: 90%;
          /*display: inline-block;*/
          font-family: 'Satisfy', cursive;
          /*opacity: 0.8;*/
        }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/"><span class="dot">WebFolio</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  More Info
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">About</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Login</a>
                  <a class="dropdown-item" href="#">Register</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if(!currentUser){ %>
                  <li class="nav-item">
                      <a class="nav-link" href="/login">Login</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/register">Sign Up</a>
                      </li>
              <% } else { %>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Signed In As <%= currentUser.username %></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/logout">Logout</a>
                  </li>
              <% } %>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
        <div class="container">
        
          <% if(error && error.length > 0){ %>
              <div class="alert alert-danger" role="alert"><%= error %></div>
          <% } %>
          
          <% if(success && success.length > 0){ %>
              <div class="alert alert-success" role="alert"><%= success %></div>
          <% } %>
          
        </div>
