<% include ./partials/header %>
<div class="container">
    <div class="row">
        <div style="width: 30%; margin: 25px auto;">
            <h1 class="text-center text-light">Sign Up</h1>
            <form action="/register" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="username" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="firstName" placeholder="first name" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="lastName" placeholder="last name" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="emailID" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="avatar" placeholder="avatar url" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="adminCode" placeholder="Admin Code">
                </div>
                <div class="form-group">
                    <input class="form-control" type="Number" name="phone" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
                </div>
            </form>
            <a href="/">Go Back</a>
        </div>
    </div>
</div>
<% include ./partials/footer %>
